.cardStyle {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin: 1px;
    width: 150px;
    height: 50px;
}

.imageStyle {
    height: 300px;
    width: 300px;
    float: left;
    padding-left: 10px;
}

.dateStyle {
    position: relative;
    float: right; 
    padding-right: 10px;
}

.botStyle {
    display: block;
    font-size: 30px;
    margin-left: 28.5%;
}

.headlineStyle {
    display: block;
    font-size: 20px;
    margin-left: 28.5%;
}

.AdChipStyle {

    display: block;
    margin-top: 3%;
    margin-right: 40%;
}