.cardStyle {
    padding-top: 10px;
}


.imageStyle {
    display: block;
    height: 250px;
    width: 250px;

}

.dateStyle {

}

.SeenOnStyle {

}

.botStyle {

}

.headlineStyle {
    font-size: 20px;
}

.headlineDiv {
    padding-top: 18px;
}

.AdChipStyle {
    display: block;
    margin-top: 3%;
    margin-right: 39%;
}



* {
    box-sizing: border-box;
}

.overallDivStyle {
    margin: 0px;
    padding: 10px;
}

.imageSection {
    padding: 20px;
    float: left;
    height: 300px;
    width: 300px;
    align-items: center;
}

.mainSection {
    float: left;
    height: 150px;
    width: 44%;
}

.sideSection {
    float: left;
    width: 30%;
    height: 150px;
}

.categorySection {
    float: left;
    width: 74%;
    height: 230px;
    border-style: solid;
    border-radius: 10px;
    border-width: thin;
}